input {
  color: #fff;
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  display: inline-block !important;
  border-bottom: 3px solid #fff;
  line-height: normal;
  overflow: hidden;
  width: 95.9219px;
  min-width: 566px;
}
input,
textarea {
  background: 0 0;
}
input {
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #fff;
  width: 20px;
  min-width: 544px;
}
.title {
  font-size: 337.5%;
  color: #fff;
  text-shadow: 2px 2px #000;
}
.focus {
  font-size: 235.5%;
  color: #fff;
}

.home {
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  display: flex;
  flex-flow: column;
}
.in {
  font-size: 34px;
  outline: none;
  text-align: center;
}
.btn {
  border: 1px solid #fff !important;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 7px 14px !important;
}
.btn:hover {
  background-color: red !important;
}
.clock {
  font-weight: bold;
}
.time {
  font-size: 85px;
  color: #fff;
  text-shadow: 2px 2px #807272;
}

.img {
  height: 32px;
  width: 32px;
  margin-right: 0;
  border-radius: 50%;
  vertical-align: top;
}
.logout {
  cursor: pointer;
}
.popover {
  min-width: 35%;
}
.bar {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}
.hd {
  margin-bottom: auto;
  position: fixed;
}
.mid {
  position: fixed;
}
